.button {
  width: 130px;
  color: #ffffff;
  border-radius: 15px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding: 12px;
}

.button--primary {
  background-color: #ecb62d;
  color: #ffffff;
}

.button--primary:hover {
  background-color: #bba97c;
}

.button--edit {
  background-color: #007bff;
  justify-content: center;
  gap: 8px;
}

.button--edit:hover {
  background-color: #1962b1;
}

.button--save {
  background-color: #779341;
  color: #ffffff;
  justify-content: center;
  gap: 8px;
}

.button--save:hover {
  background-color: #91c28d;
}

.button--danger {
  background-color: #ff0000;
  color: #ffffff;
}

.button--danger:hover {
  background-color: #ff3333;
}