.dashboard-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.action-buttons {
  width: 35px;
  height: 35px;
  display: inline-flex;
  border-radius: 100%;
  margin: 0 3px;
}

.actions-cell {
  min-width: 85px;
}