.dashboard-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  color:rgb(255, 255, 255);
}

.action-buttons {
  width: 30px;
  height: 30px;
  display: inline-flex;
  border-radius: 10px;
  margin: 0 3px;
  gap: 10px;
}

.actions-cell {
  min-width: 85px;

}
