.dashboard-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.action-buttons {
  width: 35PX;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.actions-cell {
  height: 51.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}