.topbar {
  background-image: linear-gradient(to right, #bcacd4, #bcacd4);
  color: #222221;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  position: relative;
}

.topbar > img {
  position: absolute;
  left: 0px;
  width: 100px;
  height: 100px;
}

.topbar > h1 {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}
