.topbar {
  background-image: linear-gradient(to right, #bcacd4, #bcacd4);
  color: #222221;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  position: relative;
}

.topbar > img {
  position: absolute;
  left: 0px;
  width: 100px;
  height: 100px;
}

.topbar > h1 {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

.topbar > button {
  width: 55px;
  height: 51px;
  background-color: #00000000;
  border-radius: 50%;
  border: 2px solid #f7f7f0;
  transition: ease-in-out 200ms;
}

.topbar > button > .header-icon {
  transition: ease-in-out 200ms;
}

.topbar > button:hover {
  opacity: .8;
  border: 2px solid #222221;
}

.topbar > button:hover .header-icon {
  color: #222221;
}
