.page-content {
  max-width: 1100px;
  margin: 40px auto;
  background: linear-gradient(90deg, rgba(0, 2, 124, 0.9), rgba(78, 0, 151, 0.9));
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-x: auto;
}