.page-content {
  max-width: 1150px;
  margin: 40px auto;
  background: linear-gradient(90deg, rgba(116, 198, 253, 0.9), rgba(204, 149, 255, 0.9));
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-x: auto;
  
}