.table-container {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: left;
}

.table-header tr {
  background-color: #A7A2FF;
  border-bottom: 2px solid #ddd;
}

.table-header-cell {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
  color: #555;
  text-transform: capitalize;
}

.table-cell {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  color: #333;
}

.table-row:hover {
  background-color: #f1f9ff;
}

.table-row.inactive {
  background-color: rgba(223, 223, 223, 0.5);
  color: #bbb;
}